<!DOCTYPE html>
<html lang = "en">   
  <head>
    <title>Login page</title>
    <link href = "../css/bootstrap.min.css" rel = "stylesheet">
    <link href = "../css/main.css" rel = "stylesheet">
  </head>
  <body>
      <div class = "container">
        <br>
        <h2>Error: <%=error%>!</h2>
      </div> 
  </body>
</html>