<!DOCTYPE html>
<html lang = "en">   
  <head>
    <title>Login page</title>
    <link href = "../css/bootstrap.min.css" rel = "stylesheet">
    <link href = "../css/main.css" rel = "stylesheet">
  </head>
  <body>
      <div class = "container">
        <br>
        <h2>Welcome back <%=user%>!</h2>
        <br>
        <h2>You should change your password ('<%=pass%>' is too obvious!)</h2>
      </div> 
  </body>
</html>